---
layout: home
description: Supporting Independent Roblox Wikis. We assist wikis with their work and ensure communities are at the frontier of control. 
body_class: home-template
---

<div class="landing">
  <div class="landing-content">
    <h1 class="mp-header">Supporting <em>Independent</em><br>Roblox Wikis</h1>
    <p class="align-center">We assist wikis with their work and ensure communities are at the frontier of control.</p>
    <p class="align-center">
      <a href="{{ "/about/" | relative_url }}" class="btn">
        About Us
        <img src="{{ "/media/icons/arrow_forward.svg" | relative_url }}" height="20" aria-hidden="true" class="img-invert img-invert-dark material-symbols">
      </a>
      <a href="{{ "/joining/" | relative_url }}" class="btn" style="--hue: 330">Join Us</a>
    </p>
  </div>
  <table style="border: none; border-collapse: collapse; width: 100%;" role="presentation">
    <tbody>
      <tr style="border: none;">
        <td style="width: 33.3%; border: none;"><strong>6.7K+ pages<br></strong><em>across all wikis</em></td>
        <td style="width: 33.3%; border: none;"><strong><span class="extension-usage" data-extension="robloxapi">400+</span> wikis<br></strong><em>using our extension</em></td>
        <td style="width: 33.3%; border: none;"><strong>214K+ edits<br></strong><em>across all wikis</em></td>
      </tr>
    </tbody>
  </table>
</div>

<blockquote class="landing-blockquote">
  <p>Our mission is to help <strong>support and help independent wikis find their footing</strong> in this ever challenging environment. We provide support, develop tools and help emerging wikis find their independent wiki space.  </p>
</blockquote>

<h1 class="align-center">Working with <a href="{{ "/members/" | relative_url }}">members</a> from</h1>
<p> </p>
<div class="logo-carousel">
  <div class="logo-track align-center">
    {% for member in site.data.members limit: 10 %}
    <div class="logo-slide">
      <a href="{{ member.link }}" target="_blank" rel="noopener">
        <figure class="align-center">
          <img loading="lazy" src="{{ member.logo | relative_url }}" alt="{{ member.name }} Logo" width="100" height="100" class="carousel-logo" data-logo="{{ member.logo | relative_url }}" {% if member.logo-white %}data-logo-white="{{ member.logo-white | relative_url }}"{% endif %}>
        </figure>
      </a>
    </div>
    {% endfor %}
    {% for member in site.data.members limit: 10 %}
    <div class="logo-slide">
      <a href="{{ member.link }}" target="_blank" rel="noopener">
        <figure class="align-center">
          <img loading="lazy" src="{{ member.logo | relative_url }}" alt="{{ member.name }} Logo" width="100" height="100" class="carousel-logo" data-logo="{{ member.logo | relative_url }}" {% if member.logo-white %}data-logo-white="{{ member.logo-white | relative_url }}"{% endif %}>
        </figure>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<div class="landing-project-showcase">
  <div>
    <h1>Our <a href="{{ "/projects/" | relative_url }}">projects</a></h1>
    The alliance manages several projects designed to assist other wikis. Explore them and consider installing them on your site.
  </div>
  <div>
    <img loading="lazy" src="{{ "/media/promofiles/sewh-robloxapi.png" | relative_url }}" alt="Something Evil Will Happen using RobloxAPI for game statistics" width="450">
    <sup><i><a href="https://sewh.miraheze.org?utm_source=irwa-website">Something Evil Will Happen Wiki</a> using <a href="{{ "/docs/robloxapi/" | relative_url }}">RobloxAPI</a> for game statistics</i></sup>
  </div>
</div>

<!--  <p class="align-center">
  <a href="https://dsc.gg/irwa" class="btn btn-external">Join our Discord</a>
  <a href="{{ "/projects/" | relative_url }}" class="btn">Our Projects</a>
  <a href="{{ "/joining/" | relative_url }}" class="btn">Join Us</a>
</p>
 -->
