<footer class="footer">
  <div class="footer__left">
    Supporting Independent Roblox Wikis
    <div class="footer__links">
      <a href="https://github.com/Roblox-Indie-Wikis" target="_blank" rel="noopener noreferrer">
        <img src="{{ "/assets/svg/github.svg" | relative_url }}" width="24" height="24" alt="" aria-hidden="true" class="li img-invert img-invert-dark">
      </a>
      <a href="https://discord.com/invite/qZwvwnPZsd" target="_blank" rel="noopener noreferrer">
        <img src="{{ "/assets/svg/discord.svg" | relative_url }}" width="24" height="24" alt="" aria-hidden="true" class="li img-invert img-invert-dark">
      </a>
      <a href="mailto:contact@indierobloxwikis.org" target="_blank" rel="noopener noreferrer">
        <img src="{{ "/assets/icons/mail.svg" | relative_url }}" width="24" height="24" alt="" aria-hidden="true" class="li img-invert img-invert-dark">
      </a>
    </div>
  </div>
  <div class="footer__right">
    <ul class="footer__nav">
      <li><a href="{{ "/about/" | relative_url }}" class="invert">About</a></li>
      <li><a href="{{ "/privacy/" | relative_url }}" class="invert">Privacy</a></li>
      <li><a href="{{ "/legal/" | relative_url }}" class="invert">Legal</a></li>
      <li><a href="{{ "/branding" | relative_url }}" class="invert">Branding</a></li>
    </ul>
  </div>
  <button onclick="backToTopFunction()" id="backToTop" class="footer__bttop" aria-label="Back to top" title="Back to top">
    <svg><use xlink:href="{{ "/assets/svg/svg-map.svg#toparrow" | relative_url }}"/></svg>
  </button>
</footer>