<header class="header">
  <a href="{{ "/" | relative_url }}" class="logo">
    <img src="{{ "/media/website/IRWA-Logo1.svg" | relative_url }}" alt="{{ site.title }}" width="500" height="500">
  </a>
  <nav class="navbar js-navbar">
    <button class="navbar__toggle js-toggle" aria-label="Menu">Menu</button>
    <ul class="navbar__menu">
      <li{% if page.url == "/" %} class="active"{% endif %}><a href="{{ "/" | relative_url }}">Home</a></li>
      <li{% if page.url == "/about/" %} class="active"{% endif %}><a href="{{ "/about/" | relative_url }}">About</a></li>
      <li{% if page.url == "/members/" %} class="active"{% endif %}><a href="{{ "/members/" | relative_url }}">Members</a></li>
      <li class="main-menu-partners{% if page.url == "/alliance-partners/" %} active{% endif %}"><a href="{{ "/alliance-partners/" | relative_url }}" title="Alliance Partners">Partners</a></li>
      <li{% if page.url == "/joining/" %} class="active"{% endif %}><a href="{{ "/joining/" | relative_url }}" class="header__join-btn">Join</a></li>
      <li{% if page.url == "/projects/" %} class="active"{% endif %}><a href="{{ "/projects/" | relative_url }}">Projects</a></li>
      <li><a href="https://discord.gg/74qrU7qBqx">Discord</a></li>
    </ul>
  </nav>
</header>
