/* Table Overflow Wrapper Styles */
.overflow-wrapper {
  position: relative;
  display: flex;
  max-width: max-content;
}
.overflow-wrapper:has(.overflow-content > .wikitable) {
  margin-block: var(--space-md);
  margin-inline: var(--border-width-base);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-border);
}
.overflow-wrapper:has(.overflow-content > .wikitable--fluid) {
  max-width: none;
}
.overflow-content {
  width: 100%;
  overflow: auto hidden;
  border: 1px solid oklch(from var(--text-color) l c h / 0.1);
  border-radius: 1rem;
}
.overflow-content > table {
  display: table;
  max-width: none;
  margin-block: 0;
  overflow: initial;
  box-shadow: none;
  border: unset;
}
.overflow-content > table thead {
  border-bottom: 1px solid oklch(from var(--text-color) l c h / 0.1);
}
.overflow-content > table td {
  border: unset;
}
.overflow-content > table tr:hover {
  background: rgba(255, 255, 255, 0.04);
}
.overflow--left > .overflow-content {
  -webkit-mask-image: linear-gradient(90deg, transparent, #000 2rem);
  mask-image: linear-gradient(90deg, transparent, #000 2rem);
}
.overflow--right > .overflow-content {
  -webkit-mask-image: linear-gradient(270deg, transparent, #000 2rem);
  mask-image: linear-gradient(270deg, transparent, #000 2rem);
}
.overflow--left.overflow--right > .overflow-content {
  -webkit-mask-image: linear-gradient(90deg, transparent, #000 2rem, #000 calc(100% - 2rem), transparent);
  mask-image: linear-gradient(90deg, transparent, #000 2rem, #000 calc(100% - 2rem), transparent);
}
.overflow-nav {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}
.overflow-navButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 100%;
  padding: 0;
  appearance: none;
  cursor: pointer;
  background: transparent;
  border: 0;
  border-radius: var(--border-radius-medium);
  visibility: hidden;
  pointer-events: none;
}
.overflow-navButton::before {
  width: 1.25rem;
}
.overflow--left .overflow-navButton-left {
  z-index: 3;
  visibility: visible;
  pointer-events: auto;
}
.overflow-navButton-left::before {
  transform: rotate(-90deg);
}
.overflow--right .overflow-navButton-right {
  z-index: 3;
  visibility: visible;
  pointer-events: auto;
}
.overflow-navButton-right::before {
  transform: rotate(90deg);
}
.overflow-navButton:hover {
  background-color: rgba(255, 255, 255, 0.04);
}
.overflow-navButton:active {
  background-color: rgba(255, 255, 255, 0.08);
}
