---
layout: page
body_class: page-template
title: Alliance Partners
description: Our partners are other wiki alliances and websites that have mutually partnered with us to support our mission.
---

<h1 class="align-center">Alliance Partners</h1>
<p class="align-center">Our partners are other wiki alliances and websites that have mutually partnered with us to support our mission and to promote collaboration towards our shared goals.</p>

<div class="members-grid">
    {% for partner in site.data.partners %}
    <button type="button" class="member-box btn-secondary" onclick="openEntityModal(this)"
            data-entity='{{ partner | jsonify | escape }}'
            data-logo="{{ partner.logo | relative_url }}">
        <img src="{{ partner.logo | relative_url }}" alt="{{ partner.name }} logo" class="member-box-logo">
        {{ partner.name }}
    </button>
    {% endfor %}
</div>

{% include entity-modal.html %}

<div class="secondary-container">
    <h2>Come be our partner</h2>
    <p style="margin-top: unset">Interested in a partnership? Join our Discord server and get in contact!</p>
    <p style="margin-top: 15px">
        <a href="https://discord.com/invite/qZwvwnPZsd" class="btn btn-external">
          Join our Discord
          <img src="{{ "/assets/icons/arrow_forward.svg" | relative_url }}" height="20" aria-hidden="true" class="img-invert material-symbols">
        </a>
    </p>
</div>